<table>
  <tbody>
    <tr>
      <th>TNEF bin path</th>
      <td>
        <input type="text" id="settings_tnef_path" 
                           value="<%= settings['tnef_path'] %>" 
                           name="settings[tnef_path]" >
      </td>
    </tr>
  </tbody>
</table>